// Borders

$base-border-radius: .25rem;


// Colors

$black: #322;
$blue: #002f4b;
$grey: #ccc;
$red: #dc4225;
$white: #efefef;


// Layout

$card-list-gutter: 1.5rem;
$desktop-width: 75rem;


// Screen sizes

$mobile: 750px;
$tablet: 1024px;
$desktop: 1200px;
$large-desktop: 1440px;


// Typography

$h1-font-size: 3.998rem;
$h2-font-size: 2.827rem;
$h3-font-size: 1.999rem;
$h4-font-size: 1.414rem;
$small-font-size: .707rem;
